<head>
    <meta name ="viewport" content ="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">

        <h2>Chatbot by Gemini</h2>

        <form action="/gemini_reply" method="post">
            <textarea name="q" class="chat-input" rows="5" cols="50" placeholder="Type your question here..."></textarea><br>         
            <input type="submit" value="Enter">
        </form>
        
        <form action="/main" method="post">     
            <input type="submit" value="Main">
        </form>

    </div>
</body>

