<head>
    <meta name ="viewport" content ="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>Financial Advisor in Telegram</h2>
        <br>
        <h3>{{status}}</h3>
        
        <!-- Telegram Bot Button -->
        <a href="https://web.telegram.org/k/#@DSAI_Ilua_Gemini_bot" target="_blank" class="btn">Open Telegram Bot</a>

        <a href="/main" class="btn">Main</a>
    </div>
</body>