<header>
    <link rel="stylesheet" href="{{url_for('static',filename='user_log.css')}}">
</header>

<body>
    <div class="container">
        <h2>User Log Table</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <form action="/main" method="post">
            <input type="submit" value="Back to Main">
        </form>
    </div>
</body>